<include file="Mobile:header" nav="文章详情"/>
<body>
<div class="mobile">
    <div class="othertop">
        <a class="goback" href="javascript:history.back();"><img src="__PUBLIC__/mobile/img/goback.png" /></a>
        <div class="othertop-font">{$Think.lang.detail}</div>
    </div>
    <div class="news_detail">
        <h1 class="tit">{$article.title}</h1>
        <!--<p class="time">{:date("Y-m-d",strtotime($article['time']))}</p>-->
        <div>{:htmlspecialchars_decode($article['content'])}</div>
    </div>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/xin_mobile/staticfaxian/css/foot.css" />
<div class="footer_nav">
    <a href="/mobile/index.html">
        <img src="/Public/mobile/img/home_blue.png">
        <span class="active">{$Think.lang.home}</span>
    </a>
    <a href="/mobile/lists.html">
        <img src="/Public/mobile/img/invest.png">
        <span class="">{$Think.lang.investmentProject}</span>
    </a>
    <a href="/user/person.html">
        <img src="/Public/mobile/img/user.png">
        <span>{$Think.lang.userCenter}</span>
    </a>
    <a href="{:U('User/recommend')}">
        <img src="/Public/mobile/img/about.png">
        <span>{$Think.lang.cityPartner}</span>
    </a>
    <a href="{:getInfo('service')}">
        <img src="/Public/mobile/img/kefu.png">
        <span class="active">{$Think.lang.onlineService}</span>
    </a>
</div>
</div>
</body>
</html>