<include file="header" nav="标详情"/>
<div class="mobile">
    <div class="othertop">
        <a class="goback" href="javascript:history.back();"><img src="__PUBLIC__/mobile/img/goback.png" /></a>
        <div class="othertop-font">{$Think.lang.investmentDetails}</div>
    </div>
    <div class="header-nbsp"></div>
    <!-- 详情 -->
    <div class="details_top">
       <img src="__PUBLIC__/uploads/item/{$data.img}">
        <h1>{$data.title}</h1>
        <ul>
            <li>
                <div class="inner">
                    <p>
                        <span class="span2">{$Think.lang.projectScale}</span>
                        <span class="span1">฿<i>{:round($data['total'],2)}</i>W{$Think.lang.unit}</span>
                    </p>
                    <p>
                        <span class="span2">{$Think.lang.EveryDividend}</span>
                        <span class="span1"><i>{:round($data['min']*$data['rate']/100,2)}</i>{$Think.lang.unit}</span>
                    </p>
                    <p>
                        <span class="span2">{$Think.lang.InvestmentCycle}</span>
                        <span class="span1"><i>{$data.day}</i>{$Think.lang.day}</span>
                    </p>
                </div>
            </li>
            <li>{$Think.lang.DividendMethod}：{:getProjectType($data['type'])}</li>
            <li>{$Think.lang.startingAmount}：{:round($data['min'],2)}{$Think.lang.unit}</li>
            <li>{$Think.lang.GuaranteeAgency}：{$data.guarantee}</li>
            <li>{$Think.lang.ZeroInvestmentRisk}：{$Think.lang.PrincipalProtection}
                <div class="progressBox1">
                    <div class="progress1" style="width:{:getProjectPercent($data['id'])}%"></div>
                    <span class="progressNum1">{:round(getProjectPercent($data['id']),2)}%</span>
                </div>
            </li>
        </ul>
    </div>
    <div class="details_foot">
        <div class="tabs">
            <span class="on">{$Think.lang.investmentDetails}</span>
            <span>{$Think.lang.ProjectInformation}</span>
        </div>
        <div class="explain_outer">
            <table class="table">
                <tr>
                    <td><span>{$Think.lang.ProjectName}</span></td>
                    <td>{$data.title}</td>
                </tr>
                <tr>
                    <td>{$Think.lang.ProjectAmount}：</td>
                    <td><i>{:round($data['total'],2)}W</i>{$Think.lang.unit}；</td>
                </tr>
                <tr>
                    <td>{$Think.lang.DailyDividend}：</td>
                    <td><i>ตามรายได้ {:round($data['rate'],2)}% ต่อวัน（คุ้มครองเงินต้นและดอกเบี้ย）</i></td>
                </tr>
                <tr>
                    <td>จำนวนเงินลงทุน：</td>
                    <td><i>ลงทุนขั้นต่ำ{$data.min}{$Think.lang.unit}</i>（จำกัด{$data.num}ชุด）</td>
                </tr>
                <tr>
                    <td>วันหมดเขตโครงการ：</td>
                    <td><i>{$data.day}วัน</i>วันธรรมดา；</td>
                </tr>
                <tr>
                    <td>การคำนวณกำไร：</td>
                    <td><i>
                        <if condition="$data['type'] neq 4">
                            จ่ายเงินปันผลรายวัน{:round($data['min']*$data['rate']/100,2)}{$Think.lang.unit}
                        <else/>本金复利分红</if>
                    </i>*<i>{$data.day}{$Think.lang.day}</i>=กำไรรวม<i>
                        <if condition="$data['type'] neq 4">
                            {:round($data['min']*$data['rate']/100*$data['day'],2)}
                        <else/>{:getFuliIncome($data['min'],$data['rate'],$data['day'])}
                        </if>
                    </i>{$Think.lang.unit}；</td>
                </tr>
                <tr>
                    <td>รูปแบบการคืนเงิน：</td>
                    <td>{:getProjectType($data['type'])} และรับกำไรตามปกติในวันหยุด；</td>
                </tr>
                <tr>
                    <td>เวลาชำระบัญชี: ：</td>
                    <td>ลงทุนเวลา 15.00 น.ของวันนี้  ระบบจะคำนวณและชำระดอกเบี้ยให้อัตโนมัติเวลา 15.00 น.ของวันถัดไป(ตัวอย่างเช่น  หากวันนี้คุณลงทุนเมื่อเวลา 15.00 น. คุณจะได้รับเงินปันผลในวันพรุ่งนี้เวลา 15.00 น.)  เมื่อครบกำหนดเวลา ระบบจะคืนเงินปันผลของวันนั้นพร้อมกับเงินต้นของผลิตภัณฑ์ไปยังบัญชีสมาชิกของคุณ</td>
                </tr>
                <tr>
                    <td>ยอดเงินที่สามารถลงทุนได้：</td>
                    <td>ในระหว่างการลงทุน  ตราบใดที่สินค้ายังไม่เต็ม นักลงทุนก็ยังสามารถลงทุนได้อย่างอิสระ；</td>
                </tr>
                <!--<tr>
                    <td>资金用途：</td>
                    <td>新手版票体验项目</td>
                </tr>-->
                <tr>
                    <td>การคุ้มครองความปลอดภัย：</td>
                    <td>{$data.guarantee}ให้ความคุ้มครองเงินต้น<i>100%สำหรับทุกการลงทุนบนแพลตฟอร์ม</i>， นอกจากนี้แพลตฟอร์มยังจัดตั้งกองทุนสำรองความเสี่ยงพร้อมกับสัญญาว่าจะชำระเงินต้นเต็มจำนวนให้กับนักลงทุน</td>
                </tr>
                <tr>
                    <td>ภาพรวมโครงการ：</td>
                    <!--<td>โครงการนี้ได้ระดมทุนจำนวน<i>{:round($data[total],2)} W</i>{$Think.lang.unit}，และนำมาลงทุนในโครงการ<if condition="$data['type'] neq 4">按每日分红<i>{:round($data['min']*$data['rate']/100,2)}{$Think.lang.unit}/天</i><else/><i>本金复利分红/天</i></if>）项目周期为<i>{$data.day}</i>个自然日，所筹集资金用于该项目直投运作，作为投资者分红固定且无任何风险，所操作一切风险都由公司与担保公司一律承担，投资者不需要承担任何风险。</td>-->
                    <td>โครงการนี้ได้ระดมทุนจำนวน {:round($data[total],2)} ล้านบาท  และนำมาลงทุนในโครงการ(ตามเงินปันผลรายวัน {:round($data['min']*$data['rate']/100,2)} บาท/วัน) รอบวันธรรมดา 1 วัน  ซึ่งเงินที่ระดมมาได้ถูกนำมาดำเนินการลงทุนโดยตรงกับโครงการนี้  สำหรับการลงทุนในโครงการ  เงินปันผลของนักลงทุนจะคงที่และปราศจากความเสี่ยง  ซึ่งทางบริษัทและบริษัทผู้ค้ำประกันความเสี่ยงจะเป็นผู้รับผิดชอบความเสี่ยงที่เกิดขึ้นทั้งหมด  นักลงทุนไม่จำเป็นต้องรับผิดชอบกับความเสี่ยงใด ๆ ทั้งสิ้น</td>
                </tr>

                </tr>
            </table>
            <div class="data">
                {$data.content}
            </div>
        </div>
    </div>
    <div class="header-nbsp"></div>
    <div class="invest_btn">
        <if condition="getProjectPercent($data['id']) eq 100">
            <a href="javascript:;" style="background-color: #888;">โครงการเต็มแล้ว</a>
            <else/>
            <a href="{:U('form','id='.$data['id'])}">ลงทุนเดี๋ยวนี้</a>
        </if>
    </div>
</div>
<script>
    $().ready(function(){
        var value = $(".progressNum1").text();
        var result = toPoint(value) - toPoint("{:getProjectPercent($data['id'])}%");
        $(".progressNum1").css("left",toPercent(result));
        $(".tabs span:eq(0)").click(function(){
            $(this).addClass("on");
            $(".tabs span:eq(1)").removeClass("on");
            $(".explain_outer .table").show();
            $(".explain_outer .data").hide();
        });
        $(".tabs span:eq(1)").click(function(){
            $(this).addClass("on");
            $(".tabs span:eq(0)").removeClass("on");
            $(".explain_outer .table").hide();
            $(".explain_outer .data").show();
        });
    });
</script>
</body>
</html>