<script type="text/javascript" src="__PUBLIC__/xin_mobile/static/js/rem.js"></script>

<link type="text/css" rel="stylesheet" href="__PUBLIC__/xin_mobile/static/css/foot.css" />

<!--<footer class=footer>
<a href="/Mobile/index/index.html"><img src="__PUBLIC__/xin_mobile/static/picture/rbtn_home_hot_normal.png"></a>
<a href="/Mobile/lists.html"><img src="__PUBLIC__/xin_mobile/static/picture/rbtn_home_product_checked.png"></a>
<a href="https://api.pop800.com/chat/574513"><img src="__PUBLIC__/xin_mobile/static/picture/icon_sanbiao_home.png"></a>
<a href="/about/index.html"><img src="__PUBLIC__/xin_mobile/static/picture/rbtn_home_find_normal.png"></a>
<a href="/user/person.html"><img src="__PUBLIC__/xin_mobile/static/picture/rbtn_home_my_normal.png"></a></footer>-->
<div class="footer_nav">
    <a href="/mobile/index.html">
        <img src="/Public/mobile/img/home_blue.png">
        <span class="active">{$Think.lang.home}</span>
    </a>
    <a href="/mobile/lists.html">
        <img src="/Public/mobile/img/invest.png">
        <span class="">{$Think.lang.investmentProject}</span>
    </a>
    <a href="/user/person.html">
        <img src="/Public/mobile/img/user.png">
        <span>{$Think.lang.userCenter}</span>
    </a>
    <a href="{:U('User/recommend')}">
        <img src="/Public/mobile/img/about.png">
        <span>{$Think.lang.cityPartner}</span>
    </a>
    <a href="{:getInfo('service')}">
        <img src="/Public/mobile/img/kefu.png">
        <span class="active">{$Think.lang.onlineService}</span>
    </a>
</div>