<include file="header" nav="เสนอราคาทันที"/>
<div class="mobile">
	<div class="othertop">
        <a class="goback" href="javascript:history.back();"><img src="__PUBLIC__/mobile/img/goback.png" /></a>
        <div class="othertop-font">เสนอราคาทันที</div>
    </div>
    
    <div class="form_outer">
    	<div class="form_top">
    		<p>
    			<span class="span_tit">ยอดเงินคงเหลือในบัญชี（{$Think.lang.unit}）</span>
    			<span class="span_num">฿ {$user['money']}{$Think.lang.unit}</span>
    		</p>
    		<p>
    			<span class="span_tit">จำนวนเงินลงทุนโครงการ（{$Think.lang.unit}）</span>
    			<span class="span_num">฿ <strong id = "maxNum">{:getProjectSurplus($data['id'])} </strong>{$Think.lang.unit}</span>
    		</p>
    	</div>
    	<form action="{:U('form')}" method="post" id="ifr">
            <input type="hidden" value="{$data.id}" name="id"/>
            <input type="hidden" value="{:round($data['max'],2)}" id="maxNum2"/>
            <input type="hidden" value="{:round($user['money']/100)*100}" id="userMoney"/>
            <input type="hidden" value="{:round($user['money'],2)}" id="userMoney2"/>
    		<ul>
    			<li>
    				<label>{$Think.lang.startingAmount}</label><span>฿ <em class="start">{:round($data['min'],2)}</em> {$Think.lang.unit}</span>
    			</li>
    			<li>
    				<label>เวลาชำระบัญชี</label><span>เมื่อเวลาการชำระดอกเบี้ยครบ 24 ชั่วโมงดอกเบี้ยจะถูกชำระโดยอัตโนมัติ</span>
    			</li>
				<li>
					<label>เวลาลงทุน</label><span>เวลาหมดเขต เช้า 9:05 น. ถึงบ่าย 3:00 น. </span>
				</li>
    			<li>
    				<label>จำนวนเงินลงทุน</label><br/>
    				<div class="caculate">
    					<i class="btn_reduce">&minus;</i>
    					<input type="text" name="money" id="money" value="{:round($data['min'],2)}">
    					<i class="btn_add">+</i>
    				</div>
    			</li>
    			<li>
    				<label></label><span class="add">ลงทุนเริ่มต้นขั้นต่ำ <em class="time" id="minNum">{:round($data['min'],2)}</em> {$Think.lang.unit}，最高可投<em class="time" id="minNum">{:round($data['max'],2)}</em>,加一次为  <em class="time" id="addNum">100</em> {$Think.lang.unit}</span>
    			</li>
    			<li>
    				<label>รหัสผ่านการชำระเงิน</label>
    				<input type="password" placeholder="ค่าเริ่มต้นของรหัสผ่านเข้าสู่ระบบ" name="pwd" id="pwd" class="pwd">
    			</li>
    		</ul>
    		<input type="submit" value="{$Think.lang.investNow}" class="input_btn">
    	</form>
    </div>
</div>
<script>
    $().ready(function(){
    	var minNum = Number($("#minNum").text());
        var maxNum = Number($("#maxNum").text());
        var maxNum2 = Number($("#maxNum2").val());
        var userMoney = Number($("#userMoney").val());
    	var addNum = Number($("#addNum").text());
        $(".caculate .btn_reduce").click(function(){
            var number = Number($(this).next().val());
            if(number > minNum){
                number = number - addNum;
                $(this).next().val(number);
            }
        });
        $(".caculate .btn_add").click(function(){
            var number = Number($(this).prev().val());
            if(number < maxNum && number < maxNum2 && userMoney > number){
            	number = number + addNum;
                $(this).prev().val(number);
            }
        });
        $("#ifr").submit(function(){
			let open = {$open};
			if(open == 0){
				msg("{$Think.lang.error}","ตอนนี้ไม่ใช่เวลาลงทุน！",1);
				return false;
			}

			var money = $("#money").val();
            if(money > maxNum){
                msg("{$Think.lang.error}","ยอดเงินลงทุนต้องไม่เกินโควตาการลงทุนที่เหลืออยู่ของโครงการ！",1);
                return false;
            }
            if(money < minNum){
                msg("{$Think.lang.error}","ยอดเงินลงทุนต้องไม่น้อยกว่ายอดเงินลงทุนขั้นต่ำของโครงการ！",1);
                return false;
            }
            if(money > maxNum2){
                msg("{$Think.lang.error}","จำนวนเงินลงทุนต้องไม่เกินจำนวนสูงสุดของโครงการ!",1);
                return false;
            }
            var userMoney2 = Number($("#userMoney2").val());
            if(money > userMoney2){
                msg("{$Think.lang.error}","ยอดเงินลงทุนต้องไม่มากกว่ายอดเงินคงเหลือของคุณ！",1);
                return false;
            }
            var pwd = $("#pwd").val();
            if(pwd.length < 6 || pwd.length > 16){
                msg("{$Think.lang.error}","กรุณาป้อนรหัสผ่านธุรกรรมที่ถูกต้อง!",1);
                return false;
            }
        });
    });
</script>
</body>
</html>