<include file="header" nav="登录"/>
<div class="mobile">
    <div class="othertop">
        <a class="goback" href="{:U('mobile/index')}"><img src="__PUBLIC__/mobile/img/goback.png" /></a>
        <div class="othertop-font">เข้าสู่ระบบ</div>
    </div>
    <div class="header-nbsp"></div>
    <div style="text-align: center;">
        <img src="/Public/uploads/mlogo2.png" width="50%">
    </div>
        <div class="login_bg">
	        <form action="{:U('login')}" method="post">
	            <div class="input_text log">
	            	<label>เลขที่บัญชี</label>
                    <input type="text" name="account" placeholder="กรุณาป้อนเบอร์มือถือ">
                </div>
                <div class="input_text log">
	            	<label>รหัสผ่าน</label>
                    <input type="password" name="password" placeholder="กรุณาป้อนรหัสผ่าน">
                </div>
                <div class="error_tips"></div>
                <input type="submit" class="input_btn" value="เข้าสู่ระบบ" />
                <p class="p2 re"><a href="reg.html">ลงทะเบียนบัญชี</a></p>
                <if condition="smsStatus('18004') eq 1"><p class="p1"><a href="forget.html">ลืมรหัสผ่าน?</a></p></if>
	        </form>
        </div>
    </div>
</body>
</html>