<include file="Mobile:header" nav="{$Think.lang.withdrawalRecord}"/>
<div class="mobile">
    <div class="othertop">
        <a class="goback" href="javascript:history.back();"><img src="__PUBLIC__/mobile/img/goback.png" /></a>
        <div class="othertop-font">{$Think.lang.withdrawalRecord}</div>
    </div>
    <div class="header-nbsp"></div>
    <div class="record_outer">
    	<table>
    		<tr>
    			<th>{$Think.lang.WithdrawalAmount}</th>
    			<th>เวลาถอนเงิน</th>
    			<th>สถานะ</th>
    		</tr>
            <volist name="cash" id="c">
                <tr>
                    <td>{$c.money}</td>
                    <td>{$c.time}</td>
                    <td>
                        <if condition="$c['status'] eq 0">กำลังดำเนินการ</if>
                        <if condition="$c['status'] eq 1">การถอนเงินสสำเร็จ</if>
                        <if condition="$c['status'] eq 2">การถอนเงินล้มเหลว</if>
                    </td>
                </tr>
            </volist>
    	</table>
    </div>
</div>
</body>
</html>