<include file="Mobile:header" nav="合同"/>
<div class="mobile">
    <div class="othertop">
        <a class="goback" href="javascript:history.back();"><img src="__PUBLIC__/mobile/img/goback.png" /></a>
        <div class="othertop-font">หนังสือสัญญา</div>
    </div>
    <div class="header-nbsp"></div>
    <!-- 合同 -->
	<div class="contract_box">
	    <h1 class="con_name">{:getInfo('webname')} หนังสือสัญญา</h1>
	    <p class="code">เลขที่สัญญา：{:date('ymd',strtotime($invest['time']))}{:sprintf("%05d", $invest['id'])}</p>
	    <p><label>ฝ่าย ก (ฝ่ายลงทุน) </label>：{:getUserField($uid,'name')}</p>
	    <p><label>ฝ่าย ข (ฝ่ายจัดการ) </label>：{:getInfo('company')}</p>
	    <p><label>ฝ่าย ค (ฝ่ายค้ำประกัน)</label>：{:getItemField($invest['pid'],'guarantee')}</p>
	    <p>หลังจากฝ่าย ก และฝ่าย ข ทั้งสองฝ่ายได้เจรจาหารือร่วมกันภายใต้ความเสมอภาค  ความสมัครใจ  และความซื่อสัตย์สุจริต เกี่ยวกับการใช้บริการทั้งหมดที่ฝ่าย ข จัดสรรให้กับฝ่าย ก บนเว็บไซต์นี้</p>
	    <p><label>เรื่องที่เกี่ยวข้องในการเจรจามีดังต่อไปนี้ :：</label></p>
	    <p>1、<label>รายละเอียดการลงทุนทางการเงิน</label></p>
	    <table class="tablec">
	        <tr>
	            <td>ชื่อผลิตภัณฑ์</td>
	            <td>{$invest.title}</td>
	        </tr>
	        <tr>
	            <td>ชื่อและนามสกุลของนักลงทุน</td>
	            <td>{:getUserField($uid,'name')}</td>
	        </tr>
	        <tr>
	            <td>บัตรประจำตัวประชาชนของนักลงทุน</td>
	            <td>{:getUserField($uid,'idcard')}</td>
	        </tr>
	        <tr>
	            <td>จำนวนเงินต้นที่ลงทุน<br>(ต่อไปนี้จะเรียกว่า "เงินต้นที่ลงทุนของฝ่าย ก")</td>
	            <td>{$invest.money}{$Think.lang.unit}</td>
	        </tr>
	        <tr>
	            <td>ระยะเวลาสัญญา (วัน)</td>
	            <td>{$invest.day}{$Think.lang.day}</td>
	        </tr>
	        <tr>
	            <td>อัตราผลตอบแทนที่คาดหวัง</td>
	            <td>{$invest.rate}%</td>
	        </tr>
	        <tr>
	            <td>วันที่คิดมูลค่า</td>
	            <td>{:date('Y-m-d',strtotime($invest['time']))}</td>
	        </tr>
	        <tr>
	            <td>วันครบกำหนด</td>
	            <td>{:date('Y-m-d',strtotime('+'.$invest['day'].' day',strtotime($invest['time'])))}</td>
	        </tr>
	        <tr>
	            <td>เงินต้นและดอกเบี้ยที่ต้องได้รับ（{$Think.lang.unit}）</td>
	            <td>{:getInvestMoney($invest['id'])+$invest['money']}{$Think.lang.unit}</td>
	        </tr>
	        <tr>
	            <td>รูปแบบการคืนเงิน : คืนเงินต้นและดอกเบี้ยเมื่อครบกำหนด</td>
	            <td>{$invest.type2}</td>
	        </tr>
	    </table>
	    {:htmlspecialchars_decode(getInfo('contract'))}
	    <div class="signature">
	        <div class="Party">
	            <p>ฝ่าย ก：{:getUserField($uid,'name')}</p>
	            <span>{:date('Y-m-d',strtotime($invest['time']))}</span>
	        </div>
	        <div class="Party" style="background:  url('__PUBLIC__/uploads/contract.png?k={:rand(1,99999)}') no-repeat top left 36px ;background-size:100px 100px;padding:25px 0">
	            <p>ฝ่าย ข：{:getInfo('company')}</p>
	            <span>{:date('Y-m-d',strtotime($invest['time']))}</span>
	        </div>
	    </div>
        <div class="Party" style="background:  url('__PUBLIC__/uploads/wechat.png?k={:rand(1,99999)}') no-repeat top left 36px ;background-size:100px 100px;padding:25px 0">
            <p>ฝ่าย ค：{:getItemField($invest['pid'],'guarantee')}</p>
            <span>{:date('Y-m-d',strtotime($invest['time']))}</span>
        </div>
	</div>
</div>
</body>
</html>