<include file="Mobile:header" nav="{$Think.lang.revenueRecord}"/>
<div class="mobile">
    <div class="othertop">
        <a class="goback" href="javascript:history.back();"><img src="__PUBLIC__/mobile/img/goback.png" /></a>
        <div class="othertop-font">{$Think.lang.revenueRecord}</div>
    </div>
    <div class="header-nbsp"></div>
    <div class="record_outer">
    	<table>
    		<tr>
    			<th>{$Think.lang.projectName}</th>
    			<th>วันชำระ</th>
    			<th>ยอดเงินที่ชำระ</th>
    			<th>สถานะ</th>
    		</tr>
            <volist name="invest" id="i">
                <tr>
                    <td>รอบที่ {$i.num} {$i.title}</td>
                    <td>{:date('m-d H:i',strtotime($i['time2']))}</td>
                    <td>{$i.pay2}</td>
                    <td>สำเร็จแล้ว</td>
                </tr>
            </volist>
    	</table>
    </div>
</div>
</body>
</html>