<include file="Mobile:header" nav="{$Think.lang.capitalDetails}"/>
<div class="mobile">
    <div class="othertop">
        <a class="goback" href="javascript:history.back();"><img src="__PUBLIC__/mobile/img/goback.png" /></a>
        <div class="othertop-font">{$Think.lang.capitalDetails}</div>
    </div>
    <div class="header-nbsp"></div>
    <div class="record_outer">
    	<table>
    		<tr>
    			<th>ชื่อโครงการ</th>
    			<th>ยอดเงินลงทุน</th>
    			<th>สถานะ</th>
    			<th>รายละเอียด</th>
    			<th>สัญญา</th>
    		</tr>
            <volist name="invest" id="v">
                <tr>
                    <td>{$v.title}</td>
                    <td>{$v.money}</td>
                    <td>{:getInvestStatus($v['id'])}</td>
                    <td><a href="{:U('details','id='.$v['id'])}" class="a1">ดู</a></td>
                    <td><a href="{:U('contract','id='.$v['id'])}" class="a2">ดู</a></td>
                </tr>
            </volist>
    	</table>
    </div>
</div>
</body>
</html>