<include file="Mobile:header" nav="个人中心"/>
<div class="mobile">
    <div class="my_total">
        <div class="user">
            <span>{$Think.lang.myAccount}：{$user.phone}</span>
            <span>{$Think.lang.userLevel}：{:getUserMember($user['member'])}</span>
        </div>
        <p class="bal">{$user.money}</p>
        <p class="bal_tit">{$Think.lang.accountBalance}（{$Think.lang.unit}）</p>
		
        <div class="wait">
            <div class="item">
                <span class="span_num">{:getUserUnIncome($uid)}</span>
                <span class="span_tit">{$Think.lang.moneyRates}（{$Think.lang.unit}）</span>
            </div>
            <div class="item">
                <span class="span_num">{:getUserUnPrincipal($uid)}</span>
                <span class="span_tit">{$Think.lang.capital}（{$Think.lang.unit}）</span>
            </div>
            <div class="item">
                <span class="span_num">{$user.jifen}</span>
                <span class="span_tit">{$Think.lang.profile}</span>
            </div>
            <div class="item">
                <span class="span_num">{$user.dongjiemoney}</span>
                <span class="span_tit">{$Think.lang.accountPoints}</span>
            </div>
        </div>
    </div>
    <div class="user_btn" >
        <a href="{:U('recharge')}"  style = "color: #3582b3;">{$Think.lang.recharge}</a>
        <a href="{:U('cash')}"  style = "color: #3582b3;">{$Think.lang.withdraw}</a>
    </div>
    <ul class="user_list">
        <!--li><a href="{:getInfo('service')}"><img src="/Public/mobile/img/notice.png">在线客服</a></li-->
        <!--<li><a href="{:U('zhannei')}"><img src="/Public/mobile/img/notice.png">站内消息</a></li>-->
		<!--<li><a href="/gs/my_order.html?state=1"><img src="__PUBLIC__/mobile/img/user_fund.png">我的订单</a></li>-->
        <!--<li><a href="javascript:;" onclick="qiandao()"><img src="__PUBLIC__/mobile/img/nav4.png">每日签到</a></li>-->
        <!--<li><a href="{:U('yuebao')}"><img src="__PUBLIC__/mobile/img/user_fund.png">余额宝</a></li>-->
        <li><a href="{:U('fund')}"><img src="__PUBLIC__/mobile/img/user_fund.png">{$Think.lang.recapitalization}</a></li>
        <li><a href="{:U('invest')}"><img src="__PUBLIC__/mobile/img/user_invest.png">{$Think.lang.capitalDetails}</a></li>
        <li><a href="{:U('interest')}"><img src="__PUBLIC__/mobile/img/user_inter.png">{$Think.lang.revenueRecord}</a></li>
        <li><a href="{:U('tuiguang')}"><img src="__PUBLIC__/mobile/img/user_inter.png">{$Think.lang.promotionRecord}</a></li>
        <li><a href="{:U('recharge_record')}"><img src="__PUBLIC__/mobile/img/user_rech.png">{$Think.lang.rechargeRecord}</a></li>
        <li><a href="{:U('cash_record')}"><img src="__PUBLIC__/mobile/img/user_cash.png">{$Think.lang.withdrawalRecord}</a></li>
        <!--li><a href="/lottery/index.html"><img src="__PUBLIC__/mobile/img/user_cash.png">大转盘</a></li-->
    </ul>
    <ul class="user_list">
        <li><a href="{:U('set_account')}"><img src="__PUBLIC__/mobile/img/user_safe.png">{$Think.lang.accountSecurity}</a></li>
        <li><a href="{:U('add_card')}"><img src="__PUBLIC__/mobile/img/user_card.png">{$Think.lang.bankCardBinding}</a></li>
        <li><a href="{:U('certification')}"><img src="__PUBLIC__/mobile/img/user_cert.png">{$Think.lang.realNameAuthentication}</a></li>
        <!--li><a href="javascript:alert('登陆成功')"><img src="__PUBLIC__/mobile/img/user_cert.png">微信登陆</a></li-->
    </ul>
    <ul class="user_list">
        <li><a href="{:U('recommend')}"><img src="__PUBLIC__/mobile/img/user_invite.png">{$Think.lang.cityPartner}</a></li>
       
    </ul>
     <a href="{:U('logout')}" class="input_btn" style="margin-bottom:1.2rem;">安全退出</a>	
    <!--<a href="{:U('logout')}" class="input_btn"></a>	-->

    <include file="Mobile:footer" menu="user"/>
    <div class="go_top" id="go_top" style="display: block;"><img src="/Public/mobile/img/top.png"></div>
    <script type="text/javascript" src="https://js.users.51.la/20172683.js"></script>
</div>
</body>
</html>