<include file="Mobile:header" nav="修改交易密码"/>
<div class="mobile">
    <div class="othertop">
        <a class="goback" href="{:U('set_account')}"><img src="__PUBLIC__/mobile/img/goback.png" /></a>
        <div class="othertop-font">แก้ไขรหัสผ่านธุรกรรม</div>
    </div>
    <div class="header-nbsp"></div>
    <div class="login_bg">
        <form action="{:U('pwd_pay')}" method="post" id="ifr">
            <div class="input_text cert">
                <label>รหัสผ่านธุรกรรมเดิม</label>
                <input type="text" name="oldpwd" id="oldpwd" placeholder="{$Think.lang.PleaseEnterTheTransactionPassword}">
            </div>
            <div class="input_text cert">
                <label>รหัสผ่านธุรกรรมใหม่</label>
                <input type="password" name="pwd" id="pwd" placeholder="กรุณาป้อนรหัสผ่านธุรกรรมใหม่">
            </div>
            <div class="input_text cert">
                <label>การยืนยันรหัสผ่าน</label>
                <input type="password" name="pwd2" id="pwd2" placeholder="กรุณาป้อนการยืนยันรหัสผ่าน">
            </div>
            <input type="submit" class="input_btn" value="แก้ไขเรียบร้อย" />
        </form>
    </div>
</div>
<script type="text/javascript">
    $("#ifr").submit(function() {
        var oldpwd = $("#oldpwd").val();
        var pwd = $("#pwd").val();
        var pwd2 = $("#pwd2").val();
        if (oldpwd.length < 6 || oldpwd.length > 16) {
            msg("{$Think.lang.error}", "กรุณาใส่รหัสผ่านการทำธุรกรรมเดิม 6-16 ตัวอักษร！", 1);
            return false;
        }
        if (pwd.length < 6 || pwd.length > 16) {
            msg("{$Think.lang.error}", "กรุณาใส่รหัสผ่านการทำธุรกรรมใหม่ 6-16 ตัวอักษร！", 1);
            return false;
        }
        if (pwd2.length < 6 || pwd2.length > 16) {
            msg("{$Think.lang.error}", "กรุณาใส่รหัสผ่านการทำธุรกรรมใหม่ 6-16 ตัวอักษรอีกครั้ง！", 1);
            return false;
        }
        if (pwd != pwd2) {
            msg("{$Think.lang.error}", "รหัสผ่านทั้งสองครั้งไม่ตรงกัน！", 1);
            return false;
        }
    })
</script>
</body>
</html>