<include file="Mobile:header" nav="{$Think.lang.cityPartner}"/>
<div class="mobile">
    <div class="othertop">
        <a class="goback" href="javascript:history.back();"><img src="__PUBLIC__/mobile/img/goback.png" /></a>
        <div class="othertop-font">{$Think.lang.cityPartner}</div>
    </div>
    <!-- 推荐有奖 -->
    <div class="company">
	    <div class="firends_to">
	    	<a style="width: 100%;" id="inteCode"><img src="__PUBLIC__/mobile/img/code.png" /><span style="width:4rem;">รหัสคำเชิญ QR ID ผู้แนะนำ:({$uid})</span></a>

	    </div>
        <div id="qrcode" class="qrcode" style="width:3.06rem;margin: auto;padding: .1rem;background-color: #fff;"></div>
        <script type="text/javascript" src="__PUBLIC__/mobile/js/qrcode.js"></script>
        <script type="text/javascript">
            //new QRCode(document.getElementById("qrcode"), "{$code_url}");  // 设置要生成二维码的链接
            var qrcode = new QRCode('qrcode', {
                text: "http://{$_SERVER['SERVER_NAME']}/mobile/reg/invite/{$uid}",
                width: '150',
                height: '150',
                colorDark : '#000000',
                colorLight : '#ffffff',
                correctLevel : QRCode.CorrectLevel.H
            });
        </script>
	    <h2 class="planner_h2"><span>สมาชิกที่ฉันแนะนำ (ระดับ 1)</span></h2>
	    <div class="planner_rule">       
	        <table>
	        	<tr>
	        		<th>สมาชิกโปรโมชั่น</th>
	        		<th>เวลาลงทะเบียน</th>
	        	</tr>
                <volist name="firstUsers" id="d">
                    <tr>
                        <td>{:getUserHidePhone($d['id'])}</td>
                        <td>{$d.time}</td>
                    </tr>
                </volist>
	        </table>
	    </div>
        <h2 class="planner_h2"><span>สมาชิกที่ฉันแนะนำ (ระดับ 2)</span></h2>
        <div class="planner_rule">
            <table>
                <tr>
                    <th>สมาชิกโปรโมชั่น</th>
                    <th>เวลาลงทะเบียน</th>
                </tr>
                <volist name="secondUsers" id="d">
                    <tr>
                        <td>{:getUserHidePhone($d['id'])}</td>
                        <td>{$d.time}</td>
                    </tr>
                </volist>
            </table>
        </div>
        <h2 class="planner_h2"><span>สมาชิกที่ฉันแนะนำ (ระดับ 3)</span></h2>
        <div class="planner_rule">
            <table>
                <tr>
                    <th>สมาชิกโปรโมชั่น</th>
                    <th>เวลาลงทะเบียน</th>
                </tr>
                <volist name="thirdUsers" id="d">
                    <tr>
                        <td>{:getUserHidePhone($d['id'])}</td>
                        <td>{$d.time}</td>
                    </tr>
                </volist>
            </table>
        </div>
    </div>
</div>
<script>
    $().ready(function(){
        msg("ประกาศ","เชิญเพื่อนเข้าร่วม เพื่อรับกำไรเพิ่มเติม สำหรับสมาชิก LV1 จะได้รับ 8%ต่อวัน  สมาชิก LV2 จะได้รับ 3%ต่อวัน  และสมาชิก LV3 จะได้รับ 1%ต่อวัน !",1);
    });
</script>
</body>
</html>