<include file="Mobile:header" nav="{$Think.lang.promotionRecord}"/>
<div class="mobile">
    <div class="othertop">
        <a class="goback" href="javascript:history.back();"><img src="__PUBLIC__/mobile/img/goback.png" /></a>
        <div class="othertop-font">{$Think.lang.promotionRecord}</div>
    </div>
    <div class="header-nbsp"></div>
    <div class="record_outer">
    	<table>
    		<tr>

                        </p>
    			<th>เวลา</th>
					<th>ชื่อผู้ใช้</th>
    			<th> ยอดเงินทั้งหมดที่ฝาก({$tixian})</th>

    			<th>ยอดเงินทั้งหมดที่ถอน({$chongzhi})</th>
    		</tr>
            <volist name="results" id="i">
		
					 <tr>
             
                    <td>{:date('m-d H:i',strtotime($i['time']))}</td>
					   <td>{:getUsername($i['id'])}</td>
                    <td>{$i.sum}</td>
                 
                    <td> {$i.tixiansum}</td>
                </tr>
				
		
               
            </volist> 
			
    	</table>
    </div>
</div>
</body>
</html>