<include file="Mobile:header" nav="转入余额宝"/>
<div class="mobile">
    <div class="othertop">
        <a class="goback" href="{:U('yuebao')}"><img src="__PUBLIC__/mobile/img/goback.png" /></a>
        <div class="othertop-font">转入余额宝</div>
    </div>
    <div class="header-nbsp"></div>
    <!-- 提现 -->
    <form action="{:U('zryuebao')}" method="post" id="ifr">
        

        </div>
        <div class="blank_card">
            <p>转入金额</p>
            <label class="big">{$Think.lang.unitSymbol}</label><input class="big" name="money" id="money" type="text" />
            <p>{$Think.lang.AvailableBalance} <span id="userMoney">{$user.money}</span>{$Think.lang.unit}</p>
            
        </div>
        <div class="blank_card">
            <label>{$Think.lang.TradingPassword}</label><input type="password" name="pwd" id="pwd" placeholder="{$Think.lang.PleaseEnterTheTransactionPassword}" />
        </div>
        <div class="blank_card" style="display: none;">
             <label>手续费</label> 2{$Think.lang.unit}
        </div>
        <div class="blank_card" style="display: none;">
             <label>时间</label> 预计30分钟内到账
        </div>
        <div class="blank_card" >
        <p style="color:red;">每次最少转入 <span id="userMoney">{$v.min_money}</span>{$Think.lang.unit},最多可转入<span id="userMoney">{$v.max_money}</span>{$Think.lang.unit}</p>
        </div>
        <input type="submit" value="确认转入" class="input_btn">
    </form>
<!-- 提现  end-->
</div>
<script>
$(function(){
    //下拉银行卡
    
    $("#ifr").submit(function(){
        var userMoney = $("#userMoney").text();
        var bank = $("#bank").val();
        var money = $("#money").val();
        var min = "{:getInfo('min_money')}";
        var max_money= "{:getInfo('max_money')}"
        var pwd = $("#pwd").val();
        var auth = parseInt("{$user.auth}");
        if(auth == 0){
            msg("{$Think.lang.error}","请认证后再进行转入！",2,"{:U('User/certification')}");
            return false;
        }
        if(bank == 0){
            msg("{$Think.lang.error}","{$Think.lang.PleaseSelectOrAddACashWithdrawalBankCard}",1);
            return false;
        }
        if(money.length <= 0){
            msg("{$Think.lang.error}","请输入转入金额！",1);
            return false;
        }
        if(isNaN(money)){
            $("#money").val("");
            msg("{$Think.lang.error}","请输入正确的转入金额！",1);
            return false;
        }
        if(parseFloat(money) < parseFloat(min)){
            msg("{$Think.lang.error}","小于最低提现金额"+min+"{$Think.lang.unit}！",1);
            return false;
        }
        if(parseFloat(money) > parseFloat(max_money)){
            msg("{$Think.lang.error}","小于最低提现金额"+min+"{$Think.lang.unit}！",1);
            return false;
        }
        if(parseFloat(money) > parseFloat(userMoney)){
            msg("{$Think.lang.error}","转入金额不能大于用户余额！",1);
            return false;
        }
        if(pwd.length < 6 || pwd.length > 16){
            msg("{$Think.lang.error}","กรุณาป้อนรหัสผ่านธุรกรรมที่ถูกต้อง!",1);
            return false;
        }
    })
})
</script>
</body>
</html>